<article
  class="group rounded-radius border-outline bg-surface-alt text-on-surface dark:border-outline-dark dark:bg-surface-dark-alt dark:text-on-surface-dark grid max-w-2xl grid-cols-1 overflow-hidden border md:grid-cols-8"
>
  <!-- image -->
  <div class="col-span-3 overflow-hidden">
    <img
      src="https://penguinui.s3.amazonaws.com/component-assets/card-img-4.webp"
      class="h-52 w-full object-cover transition duration-700 ease-out group-hover:scale-105 md:h-full"
      alt="a men wearing VR goggles"
    />
  </div>
  <!-- body -->
  <div class="col-span-5 flex flex-col justify-center p-6">
    <small class="mb-4 font-medium">Artificial Intelligence</small>
    <h3
      class="text-on-surface-strong dark:text-on-surface-dark-strong text-xl font-bold text-balance lg:text-2xl"
      aria-describedby="articleDescription"
    >
      AI-Powered VR Goggles Redefine Reality: Augmented Vision for Al
    </h3>
    <p id="articleDescription" class="my-4 max-w-lg text-sm text-pretty">
      Experience the next level of augmented reality with smart goggles
      integrating cutting-edge AI for seamless interaction with the world around
      you.
    </p>
    <a
      href="#"
      class="text-primary dark:text-primary-dark w-fit font-medium underline-offset-2 hover:underline focus:underline focus:outline-hidden"
    >
      Read full story
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke="currentColor"
        fill="none"
        stroke-width="2.5"
        aria-hidden="true"
        class="inline size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
      </svg>
    </a>
  </div>
</article>
