<article
  class="group rounded-radius border-primary bg-surface-alt text-on-surface dark:border-primary-dark dark:bg-surface-dark-alt dark:text-on-surface-dark flex w-full max-w-xs flex-col overflow-hidden border-2 p-6"
>
  <span
    class="rounded-radius bg-primary text-on-primary dark:bg-primary-dark dark:text-on-primary-dark ml-auto w-fit px-2 py-1 text-xs font-medium"
    >TOP CHOICE</span
  >
  <h3
    class="text-on-surface-strong dark:text-on-surface-dark-strong text-xl font-bold text-balance md:text-2xl"
    aria-describedby="planDescription"
  >
    Premium
  </h3>
  <p id="planDescription" class="mt-2 text-xs font-medium text-pretty">
    Best tools for productivity
  </p>
  <span
    class="text-on-surface dark:text-on-surface-dark mt-8 text-3xl font-medium text-balance md:text-4xl"
    >$8.99</span
  >
  <span class="mt-2 text-xs font-medium text-pretty">Per month</span>
  <h4
    class="text-on-surface-strong dark:text-on-surface-dark-strong mt-12 font-medium"
  >
    Features
  </h4>
  <ul
    class="marker:text-primary dark:marker:text-primary-dark mt-4 list-inside list-disc space-y-2 text-sm font-medium marker:text-lg"
  >
    <li>Unlimited access to all courses</li>
    <li>Personalized learning plan</li>
    <li>Offline viewing</li>
    <li>No ads</li>
    <li>High quality video</li>
    <li>Cancel anytime</li>
  </ul>
  <button
    type="button"
    class="bg-primary text-on-primary focus-visible:outline-primary dark:bg-primary-dark dark:text-on-primary-dark dark:focus-visible:outline-primary-dark rounded-radius mt-12 w-full px-4 py-2 text-center text-sm font-medium tracking-wide whitespace-nowrap transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0"
    >Start your free trial</button
  >
</article>
