<!-- primary Button md -->
<button
  type="button"
  class="rounded-radius bg-primary border-primary text-on-primary focus-visible:outline-primary dark:bg-primary-dark dark:border-primary-dark dark:text-on-primary-dark dark:focus-visible:outline-primary-dark border px-4 py-2 text-center text-sm font-medium tracking-wide whitespace-nowrap transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0 disabled:cursor-not-allowed disabled:opacity-75"
  >Primary</button
>

<!-- secondary Button -->
<button
  type="button"
  class="rounded-radius bg-secondary border-secondary text-on-secondary focus-visible:outline-secondary dark:bg-secondary-dark dark:border-secondary-dark dark:text-on-secondary-dark dark:focus-visible:outline-secondary-dark border px-4 py-2 text-center text-sm font-medium tracking-wide whitespace-nowrap transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0 disabled:cursor-not-allowed disabled:opacity-75"
  >Secondary</button
>

<!-- alternate Button -->
<button
  type="button"
  class="rounded-radius bg-surface-alt border-surface-alt text-on-surface-strong focus-visible:outline-surface-alt dark:bg-surface-dark-alt dark:border-surface-dark-alt dark:text-on-surface-dark-strong dark:focus-visible:outline-surface-dark-alt border px-4 py-2 text-center text-sm font-medium tracking-wide whitespace-nowrap transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0 disabled:cursor-not-allowed disabled:opacity-75"
  >Alternate</button
>

<!-- inverse Button -->
<button
  type="button"
  class="rounded-radius bg-surface-dark border-surface-dark text-on-surface-dark focus-visible:outline-surface-dark dark:bg-surface dark:border-surface dark:text-on-surface dark:focus-visible:outline-surface border px-4 py-2 text-center text-sm font-medium tracking-wide whitespace-nowrap transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0 disabled:cursor-not-allowed disabled:opacity-75"
  >Inverse</button
>

<!-- info Button -->
<button
  type="button"
  class="rounded-radius bg-info border-info text-onInfo focus-visible:outline-info dark:bg-info dark:border-info dark:text-onInfo dark:focus-visible:outline-info border px-4 py-2 text-center text-sm font-medium tracking-wide whitespace-nowrap transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0 disabled:cursor-not-allowed disabled:opacity-75"
  >Info</button
>

<!-- danger Button -->
<button
  type="button"
  class="rounded-radius bg-danger border-danger text-onDanger focus-visible:outline-danger dark:bg-danger dark:border-danger dark:text-onDanger dark:focus-visible:outline-danger border px-4 py-2 text-center text-sm font-medium tracking-wide whitespace-nowrap transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0 disabled:cursor-not-allowed disabled:opacity-75"
  >Danger</button
>

<!-- warning Button -->
<button
  type="button"
  class="rounded-radius bg-warning border-warning text-onWarning focus-visible:outline-warning dark:bg-warning dark:border-warning dark:text-onWarning dark:focus-visible:outline-warning border px-4 py-2 text-center text-sm font-medium tracking-wide whitespace-nowrap transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0 disabled:cursor-not-allowed disabled:opacity-75"
  >Warning</button
>

<!-- success Button -->
<button
  type="button"
  class="rounded-radius bg-success border-success text-onSuccess focus-visible:outline-success dark:bg-success dark:border-success dark:text-onSuccess dark:focus-visible:outline-success border px-4 py-2 text-center text-sm font-medium tracking-wide whitespace-nowrap transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0 disabled:cursor-not-allowed disabled:opacity-75"
  >Success</button
>

<!-- primary Button sm -->
<button
  type="button"
  class="rounded-radius bg-primary border-primary text-on-primary focus-visible:outline-primary dark:bg-primary-dark dark:border-primary-dark dark:text-on-primary-dark dark:focus-visible:outline-primary-dark border px-4 py-2 text-center text-xs font-medium tracking-wide whitespace-nowrap transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0 disabled:cursor-not-allowed disabled:opacity-75"
  >Primary</button
>

<!-- primary Loading Button -->
<button
  type="button"
  class="rounded-radius bg-primary border-primary text-on-primary focus-visible:outline-primary dark:bg-primary-dark dark:border-primary-dark dark:text-on-primary-dark dark:focus-visible:outline-primary-dark inline-flex items-center gap-2 border px-4 py-2 text-sm font-medium tracking-wide whitespace-nowrap transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0 disabled:cursor-not-allowed disabled:opacity-75"
>
  <svg
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="fill-on-primary dark:fill-on-primary-dark size-5 animate-spin motion-reduce:animate-none"
  >
    <path
      opacity="0.25"
      d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"
    ></path>
    <path
      d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"
    ></path>
  </svg>
  Loading
</button>
