<div
  class="rounded-radius border-outline dark:border-outline-dark w-full overflow-hidden overflow-x-auto border"
>
  <table
    class="text-on-surface dark:text-on-surface-dark w-full text-left text-sm"
  >
    <thead
      class="border-outline bg-surface-alt text-on-surface-strong dark:border-outline-dark dark:bg-surface-dark-alt dark:text-on-surface-dark-strong border-b text-sm"
    >
      <tr>
        <th scope="col" class="p-4">CustomerID</th>
        <th scope="col" class="p-4">Name</th>
        <th scope="col" class="p-4">Email</th>
        <th scope="col" class="p-4">Membership</th>
      </tr>
    </thead>
    <tbody class="divide-outline dark:divide-outline-dark divide-y">
      <tr>
        <td class="p-4">2335</td>
        <td class="p-4">Alice Brown</td>
        <td class="p-4">alice.brown@gmail.com</td>
        <td class="p-4">Silver</td>
      </tr>
      <tr>
        <td class="p-4">2338</td>
        <td class="p-4">Bob Johnson</td>
        <td class="p-4">johnson.bob@outlook.com</td>
        <td class="p-4">Gold</td>
      </tr>
      <tr>
        <td class="p-4">2342</td>
        <td class="p-4">Sarah Adams</td>
        <td class="p-4">s.adams@gmail.com</td>
        <td class="p-4">Gold</td>
      </tr>
    </tbody>
  </table>
</div>
